In [271]:
import pandas as pd
import numpy as np

from sklearn.datasets import load_wine
from sklearn.datasets import load_boston

ImportError:
`load_boston` has been removed from scikit-learn since version 1.2.

The Boston housing prices dataset has an ethical problem: as
investigated in [1], the authors of this dataset engineered a
non-invertible variable "B" assuming that racial self-segregation had a
positive impact on house prices [2]. Furthermore the goal of the
research that led to the creation of this dataset was to study the
impact of air quality but it did not give adequate demonstration of the
validity of this assumption.

The scikit-learn maintainers therefore strongly discourage the use of
this dataset unless the purpose of the code is to study and educate
about ethical issues in data science and machine learning.

In this special case, you can fetch the dataset from the original
source::

    import pandas as pd
    import numpy as np

    data_url = "http://lib.stat.cmu.edu/datasets/boston"
    raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
    data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
    target = raw_df.values[1::2, 2]

Alternative datasets include the California housing dataset and the
Ames housing dataset. You can load the datasets as follows::

    from sklearn.datasets import fetch_california_housing
    housing = fetch_california_housing()

for the California housing dataset and::

    from sklearn.datasets import fetch_openml
    housing = fetch_openml(name="house_prices", as_frame=True)

for the Ames housing dataset.

[1] M Carlisle.
"Racist data destruction?"
<https://medium.com/@docintangible/racist-data-destruction-113e3eff54a8>

[2] Harrison Jr, David, and Daniel L. Rubinfeld.
"Hedonic housing prices and the demand for clean air."
Journal of environmental economics and management 5.1 (1978): 81-102.
<https://www.researchgate.net/publication/4974606_Hedonic_housing_prices_and_the_demand_for_clean_air>

In [273]:
df = pd.read_csv('https://raw.githubusercontent.com/obulygin/netology_pyda_files/main/weight-height.csv')

# какие типы признаков в нашем датафрейме?
df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [275]:
# переведем в килограммы и сантиметры
df['Height'] = df['Height'] * 2.54
df['Weight'] = df['Weight'] * 0.45
df.head()

  Gender      Height      Weight
0   Male  187.571423  108.852103
1   Male  174.706036   73.039713
2   Male  188.239668   95.733385
3   Male  182.196685   99.019112
4   Male  177.499761   92.857410

In [277]:
# нужный датасет встроен в библиотеку sklearn
wine = load_wine()

In [279]:
print(wine.DESCR)

.. _wine_dataset:

Wine recognition dataset
------------------------

**Data Set Characteristics:**

    :Number of Instances: 178
    :Number of Attributes: 13 numeric, predictive attributes and the class
    :Attribute Information:
 		- Alcohol
 		- Malic acid
 		- Ash
		- Alcalinity of ash
 		- Magnesium
		- Total phenols
 		- Flavanoids
 		- Nonflavanoid phenols
 		- Proanthocyanins
		- Color intensity
 		- Hue
 		- OD280/OD315 of diluted wines
 		- Proline

    - class:
            - class_0
            - class_1
            - class_2

    :Summary Statistics:

    ============================= ==== ===== ======= =====
                                   Min   Max   Mean     SD
    ============================= ==== ===== ======= =====
    Alcohol:                      11.0  14.8    13.0   0.8
    Malic Acid:                   0.74  5.80    2.34  1.12
    Ash:                          1.36  3.23    2.36  0.27
    Alcalinity of Ash:            10.6  30.0    19.5   3.3
    Magnesium:                    70.0 162.0    99.7  14.3
    Total Phenols:                0.98  3.88    2.29  0.63
    Flavanoids:                   0.34  5.08    2.03  1.00
    Nonflavanoid Phenols:         0.13  0.66    0.36  0.12
    Proanthocyanins:              0.41  3.58    1.59  0.57
    Colour Intensity:              1.3  13.0     5.1   2.3
    Hue:                          0.48  1.71    0.96  0.23
    OD280/OD315 of diluted wines: 1.27  4.00    2.61  0.71
    Proline:                       278  1680     746   315
    ============================= ==== ===== ======= =====

    :Missing Attribute Values: None
    :Class Distribution: class_0 (59), class_1 (71), class_2 (48)
    :Creator: R.A. Fisher
    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
    :Date: July, 1988

This is a copy of UCI ML Wine recognition datasets.
https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data

The data is the results of a chemical analysis of wines grown in the same
region in Italy by three different cultivators. There are thirteen different
measurements taken for different constituents found in the three types of
wine.

Original Owners:

Forina, M. et al, PARVUS -
An Extendible Package for Data Exploration, Classification and Correlation.
Institute of Pharmaceutical and Food Analysis and Technologies,
Via Brigata Salerno, 16147 Genoa, Italy.

Citation:

Lichman, M. (2013). UCI Machine Learning Repository
[https://archive.ics.uci.edu/ml]. Irvine, CA: University of California,
School of Information and Computer Science.

.. topic:: References

  (1) S. Aeberhard, D. Coomans and O. de Vel,
  Comparison of Classifiers in High Dimensional Settings,
  Tech. Rep. no. 92-02, (1992), Dept. of Computer Science and Dept. of
  Mathematics and Statistics, James Cook University of North Queensland.
  (Also submitted to Technometrics).

  The data was used with many others for comparing various
  classifiers. The classes are separable, though only RDA
  has achieved 100% correct classification.
  (RDA : 100%, QDA 99.4%, LDA 98.9%, 1NN 96.1% (z-transformed data))
  (All results using the leave-one-out technique)

  (2) S. Aeberhard, D. Coomans and O. de Vel,
  "THE CLASSIFICATION PERFORMANCE OF RDA"
  Tech. Rep. no. 92-01, (1992), Dept. of Computer Science and Dept. of
  Mathematics and Statistics, James Cook University of North Queensland.
  (Also submitted to Journal of Chemometrics).

In [281]:
# загружаем данные в датафрейм
df2 = pd.DataFrame(wine.data, columns=wine.feature_names)

In [283]:
df2.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0

In [285]:
# нужный датасет встроен в библиотеку sklearn
boston = load_boston()

NameError: name 'load_boston' is not defined

In [287]:
print(boston.DESCR)

NameError: name 'boston' is not defined

In [289]:
# загружаем данные в датафрейм
df3 = pd.DataFrame(boston.data, columns=boston.feature_names)

NameError: name 'boston' is not defined

In [ ]:
df3.head()

## Минимум, максимум и размах

### Первый датасет

In [ ]:
print(max(df['Height']))
print(np.max(df['Height']))
print(df['Height'].max())

In [ ]:
print(min(df['Height']))
print(np.min(df['Height']))
print(df['Height'].min())

In [ ]:
print(max(df['Weight']))
print(np.max(df['Weight']))
print(df['Weight'].max())

In [ ]:
print(min(df['Weight']))
print(np.min(df['Weight']))
print(df['Weight'].min())

In [ ]:
# смотрим на запись, в которой вес - минимальный
df[df['Weight'] == df['Weight'].min()]

In [ ]:
# смотрим на запись, в которой вес - максимальный
df[df['Weight'] == df['Weight'].max()]

In [ ]:
# смотрим на запись, в которой рост - максимальный
df[df['Height'] == df['Height'].max()]

In [ ]:
# смотрим на запись, в которой рост - минимальный
df[df['Height'] == df['Height'].min()]

In [ ]:
# размах – разница между минимальным и максимальным значением
weight_range = df['Weight'].max() - df['Weight'].min()
height_range = df['Height'].max() - df['Height'].min()
print(height_range)
print(weight_range)

### Второй датасет с вином

In [ ]:
df2.head()

In [ ]:
print(max(df2['alcohol']))
print(np.max(df2['alcohol']))
print(df2['alcohol'].max())

In [ ]:
print(min(df2['alcohol']))
print(np.min(df2['alcohol']))
print(df2['alcohol'].min())

In [ ]:
print(max(df2['malic_acid']))
print(np.max(df2['malic_acid']))
print(df2['malic_acid'].max())

In [ ]:
print(min(df2['malic_acid']))
print(np.min(df2['malic_acid']))
print(df2['malic_acid'].min())

In [ ]:
#смотрим на запись, где содержание алкоголя минимальное
df2[df2['alcohol'] == df2['alcohol'].min()]

In [ ]:
#смотрим на запись, где содержание алкоголя максимальное
df2[df2['alcohol'] == df2['alcohol'].max()]

In [ ]:
# размах – разница между минимальным и максимальным значением
alco_range = df2['alcohol'].max() - df2['alcohol'].min()
acid_range = df2['malic_acid'].max() - df2['malic_acid'].min()
print(alco_range)
print(acid_range)

### Третий датасет с недвижимостью

In [ ]:
df3.head()

In [ ]:
print(max(df3['CRIM']))
print(np.max(df3['CRIM']))
print(df3['CRIM'].max())

In [ ]:
print(min(df3['CRIM']))
print(np.min(df3['CRIM']))
print(df3['CRIM'].min())

In [ ]:
print(max(df3['AGE']))
print(np.max(df3['AGE']))
print(df3['AGE'].max())

In [ ]:
print(min(df3['AGE']))
print(np.min(df3['AGE']))
print(df3['AGE'].min())

In [ ]:
# смотрим на запись, в которой возраст - минимальный
df3[df3['AGE'] == df3['AGE'].min()]

In [ ]:
# смотрим на записи, в которой возраст - максимальный
df3[df3['AGE'] == df3['AGE'].max()]

In [ ]:
# смотрим на запись, в которой уровень преступности района - максимальный
df3[df3['CRIM'] == df3['CRIM'].max()]

In [ ]:
# смотрим на запись, в которой уровень преступности района - минимальный
df3[df3['CRIM'] == df3['CRIM'].min()]

In [ ]:
# размах – разница между минимальным и максимальным значением
age_range = df3['AGE'].max() - df3['AGE'].min()
crime_range = df3['CRIM'].max() - df3['CRIM'].min()
print(age_range)
print(crime_range)

## Среднеарифметическое

### Первый датасет

In [ ]:
# ручной подсчет
sum(df['Weight']) / len(df['Weight'])

In [ ]:
print(np.mean(df['Weight']))
print(df['Weight'].mean())

### Второй датасет с вином

In [ ]:
# ручной подсчет
sum(df2['alcohol']) / len(df2['alcohol'])

In [ ]:
print(np.mean(df2['alcohol']))
print(df2['alcohol'].mean())

### Третий датасет с недвижимостью

In [ ]:
# ручной подсчет
sum(df3['AGE']) / len(df3['AGE'])

In [ ]:
print(np.mean(df3['AGE']))
print(df3['AGE'].mean())

## Мода

In [163]:
# Создаём пустой словарь, в котором будем считать количество появлений значений веса
weight_counts = {}
for w in df['Weight'].round():
    if w not in weight_counts:
        weight_counts[w] = 1
    else:
        weight_counts[w] += 1

# Проходимся по словарю и ищем максимальное количество повторений
# Алгоритм поиска максимума
maxw = 0
mode_weight = None
for k, v in weight_counts.items():
    if maxw < v:
        maxw = v
        mode_weight = k
print('Значение моды:', mode_weight, 'количество встречаемости:', maxw)

Значение моды: 139.0 количество встречаемости: 126

In [173]:
print('Значение моды: ', df['Weight'].mode())

Значение моды:  0        64.700127
1        68.982530
2        71.393749
3        72.750145
4        77.523774
           ...
9995    253.889004
9996    254.209073
9997    255.690835
9998    255.863326
9999    269.989699
Name: Weight, Length: 10000, dtype: float64

### Датасет с вином

In [ ]:
# Добавим код, который разработали выше - в функцию. Оставляем все на своих местах, кроме изменяемого аргумента - его выносим во вводимый параметр.

def mode_custom(frame_col):
  weight_counts = {}
  for w in frame_col.round():
      if w not in weight_counts:
          weight_counts[w] = 1
      else:
          weight_counts[w] += 1

  maxw = 0
  mode_weight = None
  for k, v in weight_counts.items():
      if maxw < v:
          maxw = v
          mode_weight = k
  print('Значение моды:', mode_weight, 'количество встречаемости:', maxw)
  return mode_weight, maxw

In [ ]:
# Проверяем на исходных данных, что все работает так, как и работало
mode_custom(df['Weight'])

In [ ]:
# Теперь подставляем данные из датасета с вином
mode_custom(df2['alcohol'])

In [ ]:
print('Значение моды: ', df2['alcohol'].mode()[0])

# Заметим, что тут мы уже обращаемся к встроенной в питон функции вычисления моды, а не написанной нами самими по определению моды

### Датасет с недвижимостью

In [ ]:
mode_custom(df3['AGE'])

In [ ]:
print('Значение моды: ', df3['AGE'].mode()[0])

## Медиана

In [ ]:
# ручной подсчет
height = df['Height']

# Находим  количество значений
num_height = len(df['Height'])

# Сортируем в порядке возрастания
sorted_height = sorted(height)

# Ищем индекс среднего элемента
# если количество элементов четное, то берем среднее двух элементов в середине
middle = (num_height // 2)
if num_height % 2 == 0:
    result = (sorted_height[middle-1] + sorted_height[middle])/2
else:
    result = sorted_height[middle]
# Находим медиану
print('Медиана: ', result)

In [70]:
print(df['Height'].median())
print(np.median(df['Height']))

NameError: name 'df' is not defined

In [ ]:
# То же самое, заворачиваем в функцию написанный код

def custom_median(frame_col):
  # ручной подсчет
  height = frame_col

  # Находим  количество значений
  num_height = len(frame_col)

  # Сортируем в порядке возрастания
  sorted_height = sorted(height)

  # Ищем индекс среднего элемента
  # если количество элементов четное, то берем среднее двух элементов в середине
  middle = (num_height // 2)
  if num_height % 2 == 0:
      result = (sorted_height[middle-1] + sorted_height[middle])/2
  else:
      result = sorted_height[middle]
  # Находим медиану
  print('Медиана: ', result)
  return result

In [ ]:
# Проверяем, что все работает так, как и работало

custom_median(df['Height'])

In [ ]:
# Теперь применяем функцию к датасету с вином

custom_median(df2['alcohol'])

In [ ]:
# Смотрим на медиану по алкоголю на основании встроенной функции

print(df2['alcohol'].median())
print(np.median(df2['alcohol']))

In [ ]:
# Теперь то же самое для возраста недвижимосити

custom_median(df3['AGE'])

In [ ]:
print(df3['AGE'].median())
print(np.median(df3['AGE']))

## СКО

In [ ]:
# ручной подсчет
def stdev(nums):
    diffs = 0
    # считаем среднее значение
    avg = sum(nums) / len(nums)
    for n in nums:
        # считаем сумму квадратичных отклонений
        diffs += (n - avg) ** (2)
    # считаем корень среднеквадратичного значения
    return (diffs / (len(nums) - 1)) ** (0.5)

stdev(df['Height'])

In [ ]:
stdev(df['Weight'])

In [ ]:
print('Рост')
print(df['Height'].std())
print(np.std(df['Height'], ddof=1)) # дельта степеней свободы в numpy по умолчанию 0

print('Вес')
print(df['Weight'].std())
print(np.std(df['Weight'], ddof=1))

In [ ]:
stdev(df2['alcohol'])

In [ ]:
print(df2['alcohol'].std())
print(np.std(df2['alcohol'], ddof=1))

In [ ]:
stdev(df3['CRIM'])

In [ ]:
print(df3['CRIM'].std())
print(np.std(df3['CRIM'], ddof=1))

## Дисперсия

In [ ]:
# ручной подсчет
def disp(nums):
    diffs = 0
    # считаем среднее значение
    avg = sum(nums)/len(nums)
    for n in nums:
        # считаем сумму квадратичных отклонений
        diffs += (n - avg)**(2)
    # считаем среднеквадратичного значения
    return diffs/(len(nums)-1)

print(disp(df['Height']))
print(disp(df['Weight']))

In [ ]:
print('Рост')
print(np.var(df['Height'], ddof=1))
print(df['Height'].var())

print('Вес')
print(np.var(df['Weight'], ddof=1))
print(df['Weight'].var())

In [ ]:
print(disp(df2['alcohol']))
print(disp(df2['malic_acid']))

In [ ]:
print('Алкоголь')
print(np.var(df2['alcohol'], ddof=1))
print(df2['alcohol'].var())

print('Кислота')
print(np.var(df2['malic_acid'], ddof=1))
print(df2['malic_acid'].var())

In [ ]:
print(disp(df3['CRIM']))
print(disp(df3['AGE']))

In [ ]:
print('Уровень преступности')
print(np.var(df3['CRIM'], ddof=1))
print(df3['CRIM'].var())

print('Возраст недвижимости')
print(np.var(df3['AGE'], ddof=1))
print(df3['AGE'].var())

## Квантили

### Первый датасет

In [ ]:
# это же медиана!
df['Height'].quantile()

In [ ]:
# первый и третий квартили
df['Height'].quantile([0.25, 0.75])

In [ ]:
# произвольный перцентиль
df['Height'].quantile(0.33)

In [ ]:
# межквартильный размах
Q1 = df['Height'].quantile(0.25)
Q3 = df['Height'].quantile(0.75)
IQR = Q3 - Q1
IQR

### Второй датасет

In [ ]:
# опять медиана
df2['alcohol'].quantile()

In [ ]:
# первый и третий квартили
df2['alcohol'].quantile([0.25, 0.75])

In [ ]:
# произвольный перцентиль
df2['alcohol'].quantile(0.42)

In [ ]:
# межквартильный размах
Q1 = df2['alcohol'].quantile(0.25)
Q3 = df2['alcohol'].quantile(0.75)
IQR = Q3 - Q1
IQR

### Третий датасет

In [ ]:
df3['AGE'].quantile()

In [ ]:
# первый и третий квартили
df3['AGE'].quantile([0.25, 0.75])

In [ ]:
# произвольный перцентиль
df3['AGE'].quantile(0.80)

In [ ]:
# межквартильный размах
Q1 = df3['AGE'].quantile(0.25)
Q3 = df3['AGE'].quantile(0.75)
IQR = Q3 - Q1
IQR

## Describe

In [ ]:
df.describe()

In [ ]:
df2.describe()

In [ ]:
df3.describe()